<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<meta http-equiv='X-UA-Compatible' content='ie=edge'>
<title>All uses</title>
<link rel='stylesheet' href=''>
<script defer src=''></script>
</head>
<body>
<H1>List of all registered users</H1>
<style>
  table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
  }
  th {
    background-color: #f2f2f2;
  }
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  td:hover {
    background-color: #ddd;
    cursor: pointer;
  }
</style>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Full Name</th>
      <th>Registered On</th>
    </tr>
  </thead>
  <tbody>
    <% results.forEach(function(user) { %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.fullName %></td>
        <td><%= user.registered %></td>
      </tr>
    <% }); %>
  </tbody>
</table>

</body>
</html